# ===== Unity Generated =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/
[Bb]uild/
[Bb]uilds/

# ===== IDE =====
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Keep meta files =====
!*.meta
